[submodule "install/brew"]
	path = install/brew
	url = https://github.com/Homebrew/install
[submodule "zsh/modules/zsh-syntax-highlighting"]
	path = zsh/modules/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh/modules/zsh-history-substring-search"]
	path = zsh/modules/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "zsh/modules/zsh-autosuggestions"]
	path = zsh/modules/zsh-autosuggestions
	url = https://github.com/tarruda/zsh-autosuggestions
[submodule "zsh/modules/faster-vcs-info"]
	path = zsh/modules/faster-vcs-info
	url = https://github.com/kyanagi/faster-vcs-info
[submodule "zsh/modules/fasd"]
	path = zsh/modules/fasd
	url = https://github.com/clvv/fasd
[submodule "osx/iTerm2-Color-Schemes"]
	path = osx/iTerm2-Color-Schemes
	url = https://github.com/mbadolato/iTerm2-Color-Schemes
[submodule "fzf"]
	path = fzf
	url = ./fzf
