# global gitignore

config/flexget/.config-lock
config/flexget/*.log
config/flexget/log-*
config/flexget/*.sqlite

config/mpv/watch_later/*
config/mpv/icc-cache/*

config/transmision/*

config/weechat/logs/
config/weechat/*.log
config/weechat/script/plugins.*
config/weechat/chanstat/peak_data.csv
config/weechat/sec.conf
config/weechat/ssl/

gh_api_token

vim/.netrwhist
vim/plugged/
vim/undo/
vim/swaps/
vim/backups/

zsh/.*
zsh/tmp/
zsh/modules/info-functions/bin/
