# dotfile gitignore
config/nvim

gh_api_token

mpv/watch_later/
mpv/icc-cache/

vim/ginit.vim
vim/.netrwhist
vim/plugged/
vim/undo/
vim/swaps/
vim/backups/
vim/colors
vim/spell/
vim/session
vim/sessions
vim/autoload/*.old

zsh/.*
zsh/tmp/
zsh/modules/info-functions/bin/
zsh/modules/custom-completions
