# dotfile gitignore
config/nvim

brew_api_token
goreleaser_api_token
vgo_api_token

bitbar/_disabled

mpv/watch_later/
mpv/icc-cache/
mpv/scripts/_disabled

tmux/resurrect
tmux/plugins/*
!tmux/plugins/tpm

vim/ginit.vim
vim/.netrwhist
vim/plugged/
vim/undo/
vim/swaps/
vim/backups/
vim/colors
vim/spell/
vim/session/
vim/sessions/
vim/autoload/

zsh/.*
zsh/tmp/
zsh/modules/custom-completions
