/* vim: fdm=marker
 * */
:root.TridactylThemeR {
    --r-accent: #005CAF;

    --tridactyl-bg: #1c1c1c;
    --tridactyl-bg-second: #38383d;
    --tridactyl-fg: #f9f9fa;
    --tridactyl-of-bg: #005CAF;
    /* --tridactyl-of-fg: ; */
    /* --tridactyl-hightlight-box-bg: ; */
    /* --tridactyl-hightlight-box-fg: ; */
    --tridactyl-font-family: "Iosevka Sparkle", monospace;
    --tridactyl-font-family-sans: sans-serif;
    --tridactyl-font-size: 12pt !important;
    --tridactyl-small-font-size: 12pt;
    --tridactyl-cmdl-bg: #1c1c1c;
    --tridactyl-cmdl-small-font-size: 12pt;
    --tridactyl-cmplt-bg: #1c1c1c;
    --tridactyl-cmplt-small-font-size: 12pt;

    --tridactyl-header-first-bg: #333;
    --tridactyl-header-second-bg: #222;
    --tridactyl-header-third-bg: #111;

    --tridactyl-cmplt-border-top: 1px solid
        var(--tridactyl-photon-colours-in-content-category-header-background);

    /* --tridactyl-url-fg: var(--tridactyl-photon-colours-code-green); */
    /* --tridactyl-url-bg: var(--tridactyl-bg); */

    /* --tridactyl-of-fg: var(--tridactyl-photon-colours-warning-color); */
    /* --tridactyl-of-bg: var(--tridactyl-photon-colours-warning-background-color); */

    /* Hints are not photon coloured. Feel free to experiment with that */

    --tridactyl-hintspan-fg: white;
    --tridactyl-hintspan-bg: #204e8a;

    --tridactyl-hint-active-fg: #333;
    --tridactyl-hint-active-bg: #88ff00;
    --tridactyl-hint-active-outline: 1px solid #000;

    --tridactyl-hint-bg: rgba(13, 31, 54, 0.25);
    --tridactyl-hint-outline: 1px solid var(--tridactyl-hintspan-bg);

    --tridactyl-highlight-box-bg: none;
    --tridactyl-highlight-box-fg: none;
}

:root.TridactylThemeR #command-line-holder {
    order: 1;
}

:root.TridactylThemeR #completions {
    order: 2;
    border-top: 1px solid var(--tridactyl-complt-bg);
}

:root.TridactylThemeR #completions .sectionHeader {
    display: none;
}

/* :root.TridactylThemeR #tridactyl-colon { */
/*     margin-left: 2px; */
/* } */
:root.TridactylThemeR #tridactyl-colon::before {
    content: " > ";
}

/* :root.TridactylThemeR #completions .focused, */
/* :root.TridactylThemeR #completions .focused .url { */
/*     background: var(--tridactyl-bg-second); */
/*     text-decoration: italic; */
/* } */

:root.TridactylThemeR #cmdline_iframe {
    position: fixed !important;
    bottom: unset;
    top: -1px !important;
    left: 0% !important;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px !important;
    /* opacity: 0.9; */
}

:root.TridactylThemeR.TridactylOwnNamespace input[id^="spoiler"] ~ .spoiler {
    border-color: var(--r-accent);
}

:root.TridactylThemeR.TridactylOwnNamespace a {
    color: var(--r-accent);
}

/* These rules have greater specificity than the rules applying the variables
 * above, which causes *issues*. */

/* :root.TridactylThemeR.TridactylOwnNamespace */
/* a:link { */
/*     color: var(--tridactyl-photon-colours-in-content-link-color); */
/* } */

/* :root.TridactylThemeR.TridactylOwnNamespace */
/* a:link:visited { */
/*     --tridactyl-photon-colours-in-content-link-color-visited: #0a8dff; */
/* } */
