# ==== Basic ZSH
export DOT_DIR=$HOME/.dotfiles.bkup
export ZSH_DIR=$DOT_DIR/zsh

fpath=(
    $ZSH_DIR/modules/*
    $LUNCHY_DIR/lunchy-completion.zsh
    /usr/local/share/zsh-completions
    /usr/local/share/zsh/site-functions
    /usr/local/bin/
    ${fpath[@]}
)

source $ZSH_DIR/setopt.zsh
source $ZSH_DIR/exports.zsh
source $ZSH_DIR/completion.zsh
source $ZSH_DIR/spectrum.zsh
source $ZSH_DIR/prompt.zsh
source $ZSH_DIR/aliases.zsh
source $ZSH_DIR/bindkeys.zsh
source $ZSH_DIR/functions.zsh
source $ZSH_DIR/history.zsh
source $ZSH_DIR/zsh_hooks.zsh

# ==== Custom Modules

# source $ZSH_DIR/modules/zaw/zaw.zsh

# History Substring Search
source $ZSH_DIR/modules/zsh-history-substring-search/zsh-history-substring-search.zsh

# Syntax Highlighting
source $ZSH_DIR/modules/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh

# fish like autosuggestions
# source $ZSH_DIR/modules/zsh-autosuggestions/autosuggestions.zsh

source $ZSH_DIR/modules/fasd.zsh

# ==== Random

# init autosuggest
# zle-line-init() {
#     zle autosuggest-start
# }
# zle -N zle-line-init

# ==== TODO

# setup: Pyenv
# eval "$(pyenv init -)"

# setup: THEFUCK
eval $(thefuck-alias fuck)


# ==== zsh modules configuration envs

# configure autosuggestion
AUTOSUGGESTION_HIGHLIGHT_COLOR=fg=$FG[241]
AUTOSUGGESTION_HIGHLIGHT_CURSOR=0
AUTOSUGGESTION_ACCEPT_RIGHT_ARROW=1

# # histroy substring highlight colors
HISTORY_SUBSTRING_SEARCH_HIGHLIGHT_FOUND='bg=magenta,fg=white,bold'
HISTORY_SUBSTRING_SEARCH_HIGHLIGHT_NOT_FOUND='bg=red,fg=white,bold'
HISTORY_SUBSTRING_SEARCH_GLOBBING_FLAGS='i'

# # activate highlighters
# # to tweak > zsh/modules/zsh-syntax-highlighting/highlighters
ZSH_HIGHLIGHT_HIGHLIGHTERS=(main brackets pattern cursor)